body
{
	background-image: url(bckgrnd.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.button4 
{
	width: 100%;
	margin : auto;
	text-align: center;
	float: left;
}
.button4 button
{
	width: 170px;
    margin-top: 300px;
	background: #FFFFFF;
	border-radius: 20px;
	padding:10px;
	color: #FA9326;
	border:1px solid #FA9326;
	font: 14px Helvetica, sans-serif;
	font-weight: lighter;
	cursor: auto;
}
.button4 :hover
{
	background: #FA9326;
	color: #FFFFFF;
}
.button5
{
	width: 100%;
	margin : auto;
	text-align: center;
	float: left;
}
.button5 button
{
    width: 105px;
    margin-top: 30px;
	background: #FCB040;
	padding:6px;
	color: #FFFFFF;
	border:1px solid #FCB040;
	font: 12px Helvetica, sans-serif;
	cursor: auto;
}
.button5 :hover
{
	background: #FA9326;
	border:1px solid #FA9326;
}